@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
}
* {
  margin: 0px;
  /* padding: 0px; */
}
/* Shared style */
.container {
  width: 90%;
  margin: 5rem auto;
  border-radius: 1rem;
}
.h3 {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
}
.span {
  color: rgba(255, 84, 0, 1);
}

li {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Navbar style */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 280px;
}
.logo img {
  width: 48px;
  height: 56px;
  margin-left: 0.5rem;
}
.nav-option {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  gap: 3rem;
  /* align-items: center; */
}
.nav-links {
  text-decoration: none;
}
.nav-item {
  list-style: none;
  text-decoration: none;
  align-items: center;
}

/* Banner section style /////////////////// */
.explore-your-travel {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  padding: 7rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-your-travel h3 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.explore-your-travel p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  width: 676px;
  line-height: 26px;
  padding: 1.5rem 0;
  margin: auto;
  text-align: center;
}

.travel-input {
  margin-top: 2rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  backdrop-filter: blur(4px);
}
.travel-input input,
select,
button {
  width: 10.8rem;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.5);
}
.btn-primary {
  background-color: rgb(255, 84, 0);
  color: white;
}
/* Banner section style /////////////////// */

/* Popular section style/////////////////// */
.popular-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16rem;
  /* border: 2px solid red; */
}
.popular-section h3 {
  font-size: 2.5rem;
  font-weight: 800;
}
.text-content {
  /* display: flex;
  flex-direction: column; */
  row-gap: 2.5rem;
  /* justify-content: space-between; */
  /* border: 2px solid yellow; */
}
.text-content p,
li {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
}

/* .text-content  */
#ulid li {
  margin: 15px;
  margin-left: 20px;
}

/* Your destination... */
.your-destination {
  text-align: center;
  border: 2px solid red;
}
.row-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid rgb(26, 2, 240);
}

.country-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid rgb(175, 4, 222);
}
